.DS_Store
.venv
logs/*
SAM_finetune/checkpoints/*
SAMUI.egg-info/*    
GUI/__pycache__/*
GUI/GUI.egg-info/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
# Python cache files
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
checkpoints/*
SAM_finetune/data/*